.errors{
    color:red;
    }
    
#error1 {
    position: absolute;
    top: 10px;
    left: 265px;
}

#error2 {
    position: absolute;
    top: 45px;
    left: 260px;
}

#error3 {
    position: absolute;
    top: 84px;
    left: 233px;
}

#error11 {
    position: absolute;
    top: 122px;
    left: 233px;
}

#error4 {
    position: absolute;
    top: 160px;
    left: 258px;
}

#error5 {
    position: absolute;
    top: 200px;
    left: 255px;
}

#error6 {
    position: absolute;
    top: 303px;
    left: 248px;
}

#error7 {
    position: absolute;
    top: 340px;
    left: 222px;
}

#error8 {
    position: absolute;
    top: 375px;
    left: 170px;
}

#error9 {
    position: absolute;
    top: 412px;
    left: 220px;
}

#error10 {
    position: absolute;
    top: 450px;
    left: 253px;
}