* {font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;}

  body {
    width: 90%;
    margin: 0 auto;
    background-image: url("https://wallpaper.dog/large/10896572.png");  
    }

  #content {
    overflow: auto;}

  #nav, #feature, #footer {
    margin: 1%;
    }

  .column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    }

  .column3 {
    margin-right: 0%;}

  li {
    display: inline;
    padding: 0.5em;}

  #nav, #footer {
    padding: 0.5em 0;
    background-color:#2e8b57}

  #feature, .article {
    height: 10em;
    margin-bottom: 1em;
    }

  #feature {
    background-color:#fff5ee;
    background-image: url("https://www.pngmart.com/files/22/Snoopy-Transparent-PNG.png");
    background-size:contain;
    background-position: right;
    background-repeat:no-repeat;}

  .column1 {
    background-color:#fdf5e6;}


  .column2 {
    background-color:#ffefd5;}

  .column3 {
    background-color:#faf0e6;}

  h1 {
    font-family: 'RichEatinAllCaps';
    font-weight: bold;
    font-style: normal;
    }

  