* {font-family: Arial, Verdana, sans-serif;
  color: #665544;
  }

body {
  width: 90%;
  margin: 0 auto;
  background-image: url("https://www.desktopbackground.org/download/1400x1050/2015/08/17/996588_peterpan-wallpapers_1920x1080_h.jpg");  
  }

#content {
  overflow: auto;}

#nav {
  margin: 1%;
  text-align: center;
  }

#nav li {
  display: inline;
  padding: 0.5em;}

#nav {
  padding: 0.5em 0;
  background-color: olivedrab}

#content {
  height: 20em;
  margin-bottom: 1em;
  padding: 5%
  }

#content {
  background-color:#fff5ee;
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;}

.column1, .column2{
  padding: 0.5em 0;
  background-position: center;
  background-color:#ffefd5;
  width: 405px;
  float: left;
  margin: 1%;
  text-align: center  
  }

#header {
  margin: 1%;
  padding: 0.5em 0;
  text-align: center
  }

h1, h3 {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
 }

 h1 {
  color: white;
  font-size: 20;
}  

img {
  width: 300px;
}

#q {
  font-weight: bold;
}

.errors{
  font-weight: bold;
}
   
#error1 {
  position: absolute;
  top: 234px;
  left: 320px;
}

#error2 {
  position: absolute;
  top: 255px;
  left: 320px;
}

#error3 {
  position: absolute;
  top: 315px;
  left: 275px;
}